<app-navegacion></app-navegacion>

<div class="container">
    <div class="card mx-auto shadow p-3 mb-5 bg-white rounded">
        <div class="card-body" style="text-align: justify;">
            <p-table #dtcitas [value]="citas" dataKey="id_cita" styleClass="p-datatable-gridlines" [paginator]="true"
                stateStorage="local" stateKey="statedemo-local" [rows]="10" [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
                [rowsPerPageOptions]="[10,25,50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="acordeon" style="width: 4.4rem; display: none;"></th>
                        <th>
                            <input pInputText type="text"
                                (input)="dtcitas.filter(getValueInput($event.target), 'microchip', 'contains')"
                                placeholder="Buscar..." class="p-column-filter">
                        </th>
                        <th>
                            <input pInputText type="text"
                                (input)="dtcitas.filter(getValueInput($event.target), 'propietario', 'contains')"
                                placeholder="Buscar..." class="p-column-filter">
                        </th>
                        <th>
                            <input pInputText type="text"
                                (input)="dtcitas.filter(getValueInput($event.target), 'fechaStr', 'contains')"
                                placeholder="Buscar..." class="p-column-filter">
                        </th>
                        <th>
                            <input pInputText type="text"
                                (input)="dtcitas.filter(getValueInput($event.target), 'activa', 'contains')"
                                placeholder="Buscar..." class="p-column-filter">
                        </th>
                        <th>

                        </th>
                    </tr>
                    <tr>
                        <th class="acordeon" style="display: none;"></th>
                        <th pSortableColumn="microchip">Mascota <p-sortIcon field="microchip"></p-sortIcon>
                        </th>
                        <th pSortableColumn="propietario">Propietario <p-sortIcon field="propietario"></p-sortIcon>
                        </th>
                        <th pSortableColumn="fechaStr">Fecha <p-sortIcon field="fechaStr"></p-sortIcon>
                        </th>
                        <th pSortableColumn="activa">Activa <p-sortIcon field="activa"></p-sortIcon>
                        </th>
                        <th>Acción</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cita let-expanded="expanded">
                    <tr>
                        <td class="acordeon" style="display: none;">
                            <button type="button" pButton pRipple [pRowToggler]="cita"
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>
                        <td>{{cita.microchip}}</td>
                        <td>{{cita.propietario}}</td>
                        <td>{{cita.fechaStr}}</td>
                        <td>{{cita.activa}}</td>
                        <td>
                            <i class="fas fa-lg fa-eye consultar" routerLink="/cita/{{cita.id_cita}}"
                                style="display: block; text-align: center; cursor: pointer;"></i>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-cita>
                    <tr class="rowmedia">
                        <td colspan="5">
                            <p class="colmascota"><strong>Mascota: </strong>{{cita.microchip}}</p>
                        </td>
                    </tr>
                    <tr class="rowsmall">
                        <td colspan="3">
                            <p class="colmascota"><strong>Mascota: </strong>{{cita.microchip}}</p>
                            <p class="colpropietario"><strong>Propietario: </strong>{{cita.propietario}}</p>
                            <p class="colfecha"><strong>Fecha: </strong>{{cita.fechaStr}}</p>
                            <p class="colactiva"><strong>Activa: </strong>{{cita.activa}}</p>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>