<app-navegacion></app-navegacion>

<div class="container">
  <div class="card mx-auto shadow p-3 mb-5 bg-white rounded nueva-cita">
    <div class="card-body" style="text-align: justify;">

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="propietario"><strong>Propietario</strong></label>
          <div>
            <a routerLink="/usuario/{{usuario.dni}}" title="Consultar propietario">{{usuario.nombre}} {{usuario.apellidos}}</a>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="mascota"><strong>Mascota</strong></label>
          <div>
            <a routerLink="/datos-mascota/{{mascota.microchip}}" title="Consultar mascota">{{mascota.nombre}}</a>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="fecha"><strong>Fecha y hora</strong></label>
          <div>
            {{cita.fechaStr}}
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="activa"><strong>Activa</strong></label>
          <div *ngIf="cita.activa == 'S'">
            Si
          </div>
          <div *ngIf="cita.activa == 'N'">
            No
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="motivo"><strong>Motivo</strong></label>
        <textarea class="form-control" id="motivo" rows="3" disabled>{{cita.motivo}}</textarea>
      </div>

      <button type="button" class="btn btn-danger boton" (click)="goBack()">Volver</button>

    </div>
  </div>
</div>
