<app-navegacion></app-navegacion>

<div class="container">
    <div class="card mx-auto shadow p-3 mb-5 bg-white rounded alta-mascota">
        <div class="card-body" style="text-align: justify;">
            <form #newPetForm="ngForm" (ngSubmit)="onSubmit()" class="formulario-alta-mascota">
                <div class="form-row" style="margin-bottom: 0.5em;">
                    <div class="form-group row">
                        <div class="col-sm-1"><i class="fas fa-arrow-left fa-lg" style="cursor: pointer;" (click)="goBack()"></i></div>
                        <span class="col-sm-11">Por favor, rellena todos los campos obligatorios (*) para poder
                            registrar a la mascota en el sistema.</span>
                    </div>
                    <div *ngIf="mensajeError != ''">
                        <div class="alert alert-danger" role="alert">
                            {{ mensajeError }}
                        </div>
                    </div>
                    <div *ngIf="mensajeExito != ''">
                        <div id="mensajito" class="alert alert-success" role="alert">
                            {{ mensajeExito }}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="nombre" class="col-sm-2 col-form-label"><strong>* Nombre</strong></label>
                    <div class="col-sm-4">
                        <input type="text" #nombre="ngModel" name="nombre" id="nombre" [(ngModel)]="mascota.nombre"
                            class="form-control" placeholder="Nombre de la mascota" maxlength="25" required>
                    </div>
                    <label for="microchip" class="col-sm-2 col-form-label"><strong>* Microchip</strong></label>
                    <div class="col-sm-4">
                        <input type="text" #microchip="ngModel" name="microchip" id="microchip"
                            [(ngModel)]="mascota.microchip" class="form-control" placeholder="Microchip de la mascota"
                            maxlength="10" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="especie" class="col-sm-2 col-form-label"><strong>* Especie</strong></label>
                    <div class="col-sm-4">
                        <input type="text" #especie="ngModel" name="especie" id="especie" [(ngModel)]="mascota.especie"
                            class="form-control" placeholder="Especie de la mascota" maxlength="20" required>
                    </div>
                    <label for="raza" class="col-sm-2 col-form-label"><strong>* Raza</strong></label>
                    <div class="col-sm-4">
                        <input type="text" #raza="ngModel" name="raza" id="raza" [(ngModel)]="mascota.raza"
                            class="form-control" placeholder="Raza de la mascota" maxlength="40" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="sexo" class="col-sm-2 col-form-label"><strong>* Sexo</strong></label>
                    <select class="form-control custom-select col mr-3 ml-3" #sexo="ngModel" name="sexo" id="sexo"
                        [(ngModel)]="mascota.sexo" required>
                        <option value="" disabled selected>Selecciona el sexo</option>
                        <option value="M">Macho</option>
                        <option value="H">Hembra</option>
                    </select>
                    <label for="color" class="col-sm-2 col-form-label"><strong>* Color</strong></label>
                    <div class="col-sm-4">
                        <input type="text" #color="ngModel" name="color" id="color" [(ngModel)]="mascota.color"
                            class="form-control" placeholder="Color de la mascota" maxlength="20" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="edad" class="col-sm-2 col-form-label"><strong>* Edad</strong></label>
                    <div class="col-sm-4">
                        <input type="text" #edad="ngModel" name="edad" id="edad" [(ngModel)]="mascota.edad"
                            class="form-control" placeholder="Edad de la mascota" maxlength="25" required>
                    </div>
                    <label for="altura" class="col-sm-2 col-form-label"><strong>* Altura</strong></label>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="number" step="0.01" #altura="ngModel" name="altura" id="altura"
                                [(ngModel)]="mascota.altura" class="form-control" placeholder="Altura de la mascota"
                                required>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    cm
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="peso" class="col-sm-2 col-form-label"><strong>* Peso</strong></label>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="number" step="0.01" #peso="ngModel" name="peso" id="peso"
                                [(ngModel)]="mascota.peso" class="form-control" placeholder="Peso de la mascota"
                                required>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    kg
                                </div>
                            </div>
                        </div>
                    </div>
                    <label for="esterilizado" class="col-sm-2 mr-0 col-form-label"><strong>* Esterilizado</strong></label>
                    <select class="form-control custom-select col ml-3 mr-3" #esterilizado="ngModel" name="esterilizado"
                        id="esterilizado" [(ngModel)]="mascota.esterilizado" required>
                        <option value="" disabled selected>Selecciona esterilizado</option>
                        <option value="S">Si</option>
                        <option value="N">No</option>
                    </select>
                </div>
                <div class="form-group row">
                    <label for="propietario" class="col-sm-4 col-form-label"><strong>Propietario</strong></label>
                    <p-dropdown [options]="propietarios" [(ngModel)]="propietario" optionLabel="nombre" [filter]="true"
                        filterBy="nombre" [showClear]="true" placeholder="Selecciona un propietario" id="propietario"
                        name="propietario" autoWidth="false" [style]="{'width': '100%'}"
                        class="select-propietario col-sm-8 ml-0 mr-0">
                        <ng-template pTemplate="selectedItem">
                            <div *ngIf="propietario.dni != ''">
                                <div>{{propietario.nombre + ' ' + propietario.apellidos}}</div>
                            </div>
                        </ng-template>
                        <ng-template let-propietario pTemplate="item">
                            <div>{{propietario.nombre + ' ' + propietario.apellidos}}</div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="form-group row">
                    <label for="veterinario" class="col-sm-4 col-form-label"><strong>Veterinario</strong></label>
                    <p-dropdown [options]="veterinarios" [(ngModel)]="veterinario" optionLabel="nombre" [filter]="true"
                        filterBy="nombre" [showClear]="true" placeholder="Selecciona un veterinario" id="veterinario"
                        name="veterinario" autoWidth="false" [style]="{'width': '100%'}"
                        class="select-veterinario col-sm-8 ml-0 mr-0">
                        <ng-template pTemplate="selectedItem">
                            <div *ngIf="veterinario != null">
                                <div>{{veterinario.nombre + ' ' + veterinario.apellidos}}</div>
                            </div>
                        </ng-template>
                        <ng-template let-veterinario pTemplate="item">
                            <div>{{veterinario.nombre + ' ' + veterinario.apellidos}}</div>
                        </ng-template>
                    </p-dropdown>
                </div>

                <button type="submit" class="btn btn-success btn-crear">Crear mascota</button>
            </form>
        </div>
    </div>
</div>