/* You can add global styles to this file, and also import other style files */

body {
    background: rgb(243, 243, 243);
}

a {
    text-decoration: none;
}

/* CABECERA DEL LOGIN */

.title {
    text-align: center;
    color: white;
    font-size: 40pt;
    font-weight: bold;
    margin-top: 10%;
}

/* CUERPO DEL LOGIN */

form {
    padding: 0.5em;
}

.goBack>i {
    float: left;
    cursor: pointer;
}