/* You can add global styles to this file, and also import other style files */
body {
    background: rgb(243, 243, 243);
}

a {
    text-decoration: none;
}

/* CABECERA DEL LOGIN */

.title {
    color: white;
    font-size: 40pt;
    font-weight: bold;
    margin-top: 10%;
}

/* CUERPO DEL LOGIN */

.formulario-login, .formulario-register, .formulario-recuerda-clave {
    padding: 1.5em;
}

input {
    text-align: center;
}

.goBack > i {
    float: left;
    cursor: pointer;
}