<p-toast></p-toast>

<app-navegacion></app-navegacion>

<div class="container">
  <div class="card mx-auto shadow p-3 mb-5 bg-white rounded">
    <div class="card-body" style="text-align: justify;">
      <h1>Servicios</h1>
      <p>Todos los servicios que ofrece la clínica veterinaria.</p>
      <hr>
      <p-accordion *ngFor="let servicio of services">
        <p-accordionTab header="{{servicio.nombre}}">
          <div [innerHtml]="servicio.descripcion"></div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>
