<app-navegacion></app-navegacion>

<div class="container">
  <div class="card mx-auto shadow p-3 mb-5 bg-white rounded">
    <div class="card-body" style="text-align: justify;">
      <h1>Listado de mascotas</h1>
      <p>Listado de gestión de todas las mascotas del sistema.</p>
      <hr>
      <div class="nueva-mascota">
        <button type="button" class="btn btn-success" title="Nueva mascota" routerLink="/alta-mascota"><i
            class="fas fa-plus-circle"></i> Nueva mascota</button>
      </div>
      <p-table #dtpets [value]="mascotas" dataKey="identificador" styleClass="p-datatable-gridlines" [paginator]="true"
        stateStorage="local" stateKey="statedemo-local" [rows]="10" [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
        [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
          <tr>
            <th class="acordeon" style="width: 4.4rem; display: none;"></th>
            <th>
              <input pInputText type="text"
                (input)="dtpets.filter(getValueInput($event.target), 'identificador', 'contains')" placeholder="Buscar..."
                class="p-column-filter" title="Buscar por identificador">
            </th>
            <th>
              <input pInputText type="text" (input)="dtpets.filter(getValueInput($event.target), 'nombre', 'contains')"
                placeholder="Buscar..." class="p-column-filter" title="Buscar por nombre">
            </th>
            <th>
              <input pInputText type="text"
                (input)="dtpets.filter(getValueInput($event.target), 'propietario', 'contains')" placeholder="Buscar..."
                class="p-column-filter" title="Buscar por dni del propietario">
            </th>
            <th>
              <input pInputText type="text"
                (input)="dtpets.filter(getValueInput($event.target), 'veterinario', 'contains')" placeholder="Buscar..."
                class="p-column-filter" title="Buscar por dni del veterinario">
            </th>
            <th>

            </th>
          </tr>
          <tr>
            <th class="acordeon" style="display: none;"></th>
            <th pSortableColumn="identificador" title="Ordenar por identificador">Identificador <p-sortIcon field="identificador">
              </p-sortIcon>
            </th>
            <th pSortableColumn="nombre" title="Ordenar por nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon>
            </th>
            <th pSortableColumn="propietario" title="Ordenar por dni del propietario">Propietario <p-sortIcon
                field="propietario"></p-sortIcon>
            </th>
            <th pSortableColumn="veterinario" title="Ordenar por dni del veterinario">Veterinario <p-sortIcon
                field="veterinario"></p-sortIcon>
            </th>
            <th title="Acción">Acción</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-mascota let-expanded="expanded">
          <tr>
            <td class="acordeon" style="display: none;">
              <button type="button" pButton pRipple [pRowToggler]="mascota"
                class="p-button-text p-button-rounded p-button-plain"
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td>{{mascota.identificador}}</td>
            <td>{{mascota.nombre}}</td>
            <td><a routerLink="/usuario/{{mascota.propietario}}"
                title="Consultar propietario">{{mascota.propietario}}</a></td>
            <td><a routerLink="/usuario/{{mascota.veterinario}}"
                title="Consultar veterinario">{{mascota.veterinario}}</a></td>
            <td>
              <i class="fas fa-lg fa-eye consultar" title="Consultar mascota"
                routerLink="/datos-mascota/{{mascota.identificador}}"
                style="display: block; text-align: center; cursor: pointer;"></i>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-mascota>
          <tr class="rowmedia">
            <td colspan="5">
              <p class="colnombre"><strong>Nombre: </strong>{{mascota.nombre}}</p>
            </td>
          </tr>
          <tr class="rowsmall">
            <td colspan="3">
              <p class="colnombre"><strong>Nombre: </strong>{{mascota.nombre}}</p>
              <p class="colpropietario"><strong>Propietario: </strong><a routerLink="/usuario/{{mascota.propietario}}"
                  title="Consultar propietario">{{mascota.propietario}}</a></p>
              <p class="colveterinario"><strong>Veterinario: </strong><a routerLink="/usuario/{{mascota.veterinario}}"
                  title="Consultar veterinario">{{mascota.veterinario}}</a></p>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
