<app-navegacion></app-navegacion>

<div class="container">
    <div class="card mx-auto shadow p-3 mb-5 bg-white rounded">
        <div class="card-body" style="text-align: justify;">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ullamcorper iaculis neque ac euismod.
                Quisque cursus ornare ligula at efficitur. Integer non suscipit justo. Suspendisse eleifend varius
                tellus vel luctus. Curabitur accumsan leo dictum urna semper finibus. Nulla fringilla pellentesque
                cursus. Suspendisse accumsan molestie bibendum. Aliquam tellus dolor, aliquam et vehicula in, varius
                a
                enim. Donec justo nibh, volutpat non suscipit vitae, lacinia et augue. Proin erat ex, vulputate ac
                pellentesque vel, viverra et sem.</p>

            <p>Phasellus vel nisi nisi. Vivamus mauris libero, congue vitae lobortis eget, mollis eu magna. Praesent
                porta nisi neque, nec venenatis nisi suscipit vitae. Suspendisse vehicula suscipit mauris tincidunt
                porttitor. Etiam congue, neque ut egestas scelerisque, risus enim tincidunt lacus, ut molestie velit
                turpis ut elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ullamcorper purus at
                risus elementum lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus tortor
                sit
                amet nisl dictum, vitae aliquam tellus scelerisque.</p>

            <p>Curabitur maximus risus ex, id gravida augue ultricies eget. Duis sit amet malesuada magna. Integer
                at
                nisl ut augue fermentum iaculis at vel urna. Quisque ipsum magna, vulputate eget nulla in, gravida
                varius sapien. Cras facilisis congue diam nec rutrum. Vestibulum ante ipsum primis in faucibus orci
                luctus et ultrices posuere cubilia curae; Pellentesque porttitor odio nec aliquam mollis. Nulla
                faucibus
                urna nec nibh feugiat blandit. Mauris faucibus elementum justo ultricies ullamcorper. Aenean erat
                justo,
                pellentesque quis nisl nec, faucibus scelerisque risus. Nullam venenatis massa et est imperdiet,
                vitae
                iaculis orci congue. Curabitur facilisis odio quis metus sodales vulputate. Donec rutrum dui luctus
                metus dictum, non cursus enim porttitor.</p>

            <p>Praesent consectetur leo eu placerat sollicitudin. Phasellus suscipit consectetur dui, at
                pellentesque
                dolor iaculis eu. Pellentesque cursus neque nec metus porttitor, at gravida lacus semper. Vestibulum
                blandit, massa in pharetra hendrerit, sem nunc congue metus, eget hendrerit odio augue et odio.
                Proin
                mattis a enim sit amet fermentum. Proin sit amet mauris condimentum, porta urna ut, accumsan justo.
                Ut
                eget ligula ullamcorper, hendrerit felis ut, interdum tortor. In quis diam in lacus egestas mattis
                eu
                nec metus.</p>

            <p>Ut rhoncus sem vel velit pretium commodo vel in augue. Cras finibus turpis nisl, ut porta mi sagittis
                non. Donec scelerisque erat sed urna finibus posuere. Suspendisse a nulla lacus. Ut pharetra mauris
                et
                purus ullamcorper commodo mollis ornare nisl. Nunc hendrerit eleifend turpis, vel finibus lectus
                lobortis vitae. Maecenas sollicitudin, tellus quis malesuada ullamcorper, ipsum velit placerat nunc,
                eu
                euismod ligula magna quis felis. Pellentesque vitae tincidunt mauris, nec varius enim. Nullam ex
                nulla,
                blandit gravida egestas et, pulvinar quis mauris. Mauris sit amet mattis est. Sed vitae elit vitae
                augue
                commodo ultrices mollis id dolor. Vestibulum tincidunt semper odio nec malesuada.</p>
        </div>
    </div>
</div>