
/* CABECERA DEL LOGIN */

.title {
    color: white;
    font-size: 40pt;
    font-weight: bold;
    margin-top: 10%;
}

/* CUERPO DEL LOGIN */

.card {
    width: 25em;
    margin-top: 3%;
}

.formulario-login {
    padding: 1.5em;
}

input {
    text-align: center;
}