<p-toast></p-toast>

<app-navegacion></app-navegacion>

<div class="container">
    <div class="card mx-auto shadow p-3 mb-5 bg-white rounded eliminar-mascota">
        <div class="card-body" style="text-align: justify;">
            <p class="info">Confirmar baja de mascota</p>
            <div class="botonera">
                <div class="baja">
                    <button type="button" class="btn btn-danger" (click)="darDeBaja()">Dar de baja</button>
                </div>
                <span class="espacio"></span>
                <div class="cancelar">
                    <button type="button" class="btn btn-success" routerLink="/datos-mascota/{{microchip}}">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>