/* Toda la fila de contenido */

.row, .row-horizontal {
  margin: -1em;
}

/* Contenido CARD */

.card .side-menu-perfil {
  background: rgb(240, 240, 240);
  border: none;
  padding: 1em;
  width: 25%;
}

.card .top-menu-perfil {
  background: rgb(240, 240, 240);
  border: none;
  padding: 1em;
  width: 100%;
  margin-bottom: 2em;
}

.mb-3 {
  margin-bottom: 0 !important;
}

@media (min-width: 898px) and (max-width: 991px) {
  .container {
    max-width: 100% !important;
  }
}

@media (max-width: 897px) {
  .container {
    max-width: 100% !important;
  }
  .card {
    padding: 1em !important;
  }
  .card .side-menu-perfil {
    display: none;
  }
  .card .top-menu-perfil {
    display: block !important;
  }
  .tab-contenido {
    width: 100% !important;
  }
  .tab-content {
    padding: 0em !important;
  }
}

@media (max-width: 423px) {
  .tab-content {
    padding: 0em !important;
  }
}

/* Menú lateral (izquierda) */

.col-3 {
  max-width: 100%;
  padding: 0;
}

/* Enlaces del menu lateral */

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: white;
  background: #72bd78;
}

.col-3 a, .nav-item a {
  color: #474747;
}

/* Tab de contenido (derecha) */

.tab-contenido {
  width: 75%;
}

.tab-content {
  padding: 0.5em 1em 1em 2em;
}

/* Cabecera del perfil de usuario */

.cabecera-perfil-usuario {
  display: flex;
  align-items: center;
  padding-left: 1em;
}

.imagen-perfil-usuario {
  width: 130px;
  height: 130px;
  object-fit: cover;
}

.titulo-perfil-usuario {
  margin-left: 1em;
  margin-bottom: 0;
  text-align: left;
  font-size: 18pt;
}

.subtitulo-perfil-usuario {
  margin-left: 1.3em;
  text-align: left;
  font-size: 14pt;
}

/* Datos del usuario */

.datos-usuario {
  width: 100%;
}

.form-row {
  margin-top: 0.5em;
}

.espec {
  background-color: #72bd78;
  color: white;
  display: inline-block;
  font-size: 10pt;
  padding: 0.2em 0.4em 0.2em 0.4em;
  margin-right: 0.4em;
  margin-bottom: 0.2em;
  border-radius: 0.5em;
}

/* Botonera */

.botonera {
  float: right;
  padding: 0.5em 0.6em 1.3em 0em;
}

.botonera .btn {
  margin-left: 0.5em;
}

/* Tarjetas de mascotas del usuario */

.card-mascota {
  display: flex;
  padding: 1em;
  align-items: center;
  background: rgb(240, 240, 240);
  border-radius: 0.25rem;
  border: none;
  margin-top: 0.5em;
}

.card-mascota-vacia, .card-cita-vacia {
  display: flex;
  padding: 1em;
  align-items: center;
  background: rgb(240, 240, 240);
  border-radius: 0.25rem;
  border: none;
  margin-top: 0.5em;
}

.titulo-mascotas-usuario {
  font-size: 18pt;
}

.imagen-perfil-mascota {
  width: 110px;
  height: 110px;
  object-fit: cover;
}

.nombre-mascota {
  margin-left: 1.5em;
  font-size: 16pt;
  width: 100%;
}

.nombre {
  float: left;
  margin-right: 1em;
}

.btn-consultar {
  float: right;
  margin-right: 0.5em;
}

@media (max-width: 423px) {
  .nombre-mascota {
    margin-left: 1em;
    font-size: 16pt;
    width: 100%;
  }
  .nombre {
    float: left;
    margin-right: 1em;
  }
  .btn-consultar {
    float: left;
    margin-right: 0.5em;
  }
}

@media (min-width: 424px) and (max-width: 444px) {
  .nombre-mascota {
    margin-left: 1em;
    font-size: 16pt;
  }
  .btn-consultar {
    float: left;
    margin-right: 0.5em;
  }
}

/* Citas */

.titulo-citas-usuario {
  font-size: 18pt;
}

.consultar:hover {
  color: #72bd78;
}

.btn-nueva-cita {
  text-align: right;
  margin-bottom: 1em;
}

@media (min-width: 523px) {
  .espaciado-icono {
    text-align: center;
  }
}

@media (max-width: 460px) {
  .espaciado-icono {
    text-align: center;
  }
}

.izq {
  margin-right: 0.4em;
}
